.drawer_menu___main{
    width: 240px;
}

.drawer_menu___titulo{
    padding-top: 16px;
    text-align: left;
    margin-left: 12px;
    font-size: 0.95rem !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    text-transform: uppercase;
}

.logo-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 16px;
}

.menu-item {
    padding: 10px !important;
}

.menu-item-user {
    flex-direction: column;
    text-align: left;
    display: block !important;
    padding: 0px !important;
}

.menu-item.sistema {
    color: #00a651;
}

.menu-categoria {
    font-size: 0.95rem !important;
}

.button-logout {
    font-size: 0.8rem !important;
    display: flex !important;
    justify-content: left !important;
    padding-left: 0px !important;
    padding-right: 10px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    width: 100%;
    border: 0px solid !important; 
}

.icon-button {
    margin-right: 12px !important;
}

/*@media (min-width: 750px)*/
/*{*/
/*    .menu_lateral___div___categorias{*/
/*        display: none;*/
/*    }*/
/*}*/